version: '3.8'

services:

  restoran_db:
    container_name: restoran_db
    image: postgres:15.1-alpine
    restart: always
    volumes:
      -  postgres_data:/var/lib/postgresql/data
    expose:
      - 5432
    ports:
      - "5432:5432"
    networks:
      - restoran_network
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: space
      POSTGRES_DB: restoran_m


  restoran_app:
    container_name: restoran_app
    build:
      context: .
      dockerfile: Dockerfile
    entrypoint:
      sh -c "
        echo 'Starting my project' &&
        alembic upgrade head &
        uvicorn app:app --reload --host 0.0.0.0 --port 8000
      "
    volumes:
      - ./:/app/
    networks:
      - restoran_network
    ports:
      - "8000:8000"
    depends_on:
      - restoran_db
    links:
      - restoran_db
    restart: on-failure

networks:
  restoran_network:
    name: restoran_network

volumes:
  postgres_data:















