version: '3.8'

services:

  restoran_db:
    container_name: restoran_db
    image: postgres:15.1-alpine
    restart: always
    volumes:
    #  - ./pg-data:/var/lib/postgresql/data
      -  postgres_data:/var/lib/postgresql/data
    expose:
      - 5432
    ports:
      - "5432:5432"
    networks:
      - restoran_network
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: space
      POSTGRES_DB: restoran_m
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -q -d restoran_m -U postgres" ]
      interval: 20s
      timeout: 5s
      retries: 5

  restoran_redis:
    container_name: restoran_redis
    image: redis:latest
    expose:
      - 6379
    ports:
      - "6379:6379"
    networks:
      - restoran_network
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 20s
      retries: 100


  restoran_app:
    container_name: restoran_app
    build:
      context: .
      dockerfile: Dockerfile
    entrypoint:
      sh -c "
        echo 'Starting my project' &&
        alembic upgrade head &
        uvicorn app:app --reload --host 0.0.0.0 --port 8000
      "
    volumes:
      - ./:/app/
    networks:
      - restoran_network
    ports:
      - "8000:8000"
    depends_on:
      restoran_db:
        condition: service_healthy
      restoran_redis:
        condition: service_healthy
    links:
      - restoran_db
    restart: on-failure

networks:
  restoran_network:
    name: restoran_network

volumes:
  postgres_data:
